backports.functools-lru-cache==1.5
cycler==0.10.0
imutils==0.5.2
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.4
picamera==1.13
Pillow==5.4.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
RPi.GPIO==0.6.5
RPIO==2.0.0b1
six==1.12.0
subprocess32==3.5.3
